@import"normalize";

.form
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    &__search
    {
        font-size: 50px;
        margin-top: 50px;
        color: white;
        &-button
        {
            width: 200px;
            height: 56px;
            margin-top: 200px;
        }
        
        &-field
        {
            height: 50px;
            width: 700px;
            margin-top: 200px;
            opacity: 0.2;
            background-color: black;
            color: white;
        }
    }
}

.header
{
    background-color: black;
}